{{- $is_devcontainer:= or ( env "CODESPACES" ) ( env "REMOTE_CONTAINERS" ) | not | not -}}
{{- $is_root:= eq .chezmoi.uid "0" -}}
{{/* This section sets the options for devcontainers. */}}
{{- $get_gh := false -}}
{{- $get_devpod := false -}}
{{/* End of section */}}
{{- if not $is_devcontainer -}}
{{-   $get_gh = promptBool "Install gh cli" true -}}
{{-   $get_devpod = promptBool "Install devpod cli" true -}}
{{- end -}}
{{- if $is_devcontainer -}}
sourceDir = "~/dotfiles"

{{ end -}}
[data]
    is_devcontainer = {{ $is_devcontainer }}
    sudo = {{ if not $is_root }}"sudo "{{ else }}""{{ end }}
    get_gh = {{ $get_gh }}
    get_devpod = {{ $get_devpod }}
{{ if not $is_devcontainer }}
    signingkey = "UNSET"
{{ end }}
