chezmoi:template:missing-key=zero
# This is Git's per-user configuration file.
[user]
	name = ShiHong
	email = 31813485+MrShiister@users.noreply.github.com
	signingkey = {{ .signingkey }}
[commit]
	gpgsign = true
[core]
	editor = nvim
[credential "https://github.com"]
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = !gh auth git-credential
{{- if eq .chezmoi.os "windows" }}
[gpg]
	program = c:/Program Files (x86)/GnuPG/bin/gpg.exe
{{- end }}
