{{- if eq .chezmoi.os "windows" -}}
(
    echo The install-packages script is not run as it is currently not supported on Windows.
    echo Consider installing the following from choco:
    echo.
    echo choco install chezmoi neovim lazygit fzf ripgrep fd git gh mingw 7zip
    echo.
    echo Symlink the configurations to %APPDATA%
    echo.
    echo New-Item -Path $env:LOCALAPPDATA\nvim -ItemType SymbolicLink -Value $env:HOMEDRIVE$env:HOMEPATH\.config\nvim\
    echo New-Item -Path $env:LOCALAPPDATA\lazygit -ItemType SymbolicLink -Value $env:HOMEDRIVE$env:HOMEPATH\.config\lazygit\
)
{{- end -}}
