#!/bin/sh

packages="vim tmux"
{{ if not .devcontainer }}
packages="${packages} git zsh"
{{ end }}

# Get ZSH shell
{{ if eq .chezmoi.osRelease.id "ubuntu" "debian" }}
{{- .addsudo }} apt update
{{- .addsudo }} apt install -y ${packages}
{{ else if eq .chezmoi.osRelease.id "arch" }}
{{- .addsudo }} pacman -Syu yay ${packages}
{{ else if eq .chezmoi.osRelease.id "alpine" }}
{{- .addsudo }} apk add ${packages}
{{ end }}